/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

body{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: Verdana, Geneva, sans-serif;
  background-image: url("images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  padding: 5px; 
  text-align: left; 
  background: #d7eef5;
  color: #735c6c; 
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 30px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #ffcdd4; 
}

/* Style the navigation bar links */
.navbar a {
  float: left; 
  display: block; 
  color: #2b3e47; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; 
  border: 1px solid #f2c2c9;
}

.navbar a.right {
  float: right;
}

/* Right-aligned link */
.footer a.right {
  float: right;
}

#left{
    float: left;
}

#mylink{
    text-decoration: none;
    color: #665154;
    margin: 10px 0;
}

h2{
    color: #1f1819;
}

h3{
    color: #5c494d;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #e1a8bb; 
  color: #2b3e47; 
}

.navbar a.active{
    background-color: #9991a3;
    color: #2b3e47;
    border: 1px solid #f2c2c9;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.row-gallery {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f0edfa;
  padding: 20px;
  color: #295161;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #f8f7ff;
  padding: 20px;
  color: #295161;
}

.col {
    flex: 50%;
}

.footer {
  padding: 20px; 
  background: #e0dfed; 
  color: #20404d;
}

img{
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

li{
  margin: 5px 0;
} 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

/* Create four equal columns that sit next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the footer stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .footer a.right {
    float: none;
    text-align: center;
  }
}

/* Responsize so the footer will center when the screen is less that 700px wide*/
@media screen and (max-width: 700px) {
  .footer {
    text-align: center;
  }
}

/* Responsize so the heater will center when the screen is less that 700px wide*/
@media screen and (max-width: 700px) {
  .header {
    text-align: center;
  }
}