body{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Verdana, Geneva, sans-serif;
    background-image: url("images/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.header {
  padding: 5px; 
  text-align: left; 
  background: #d7eef5;
  color: #735c6c; 
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 30px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #ffcdd4; 
}

/* Style the navigation bar links */
.navbar a {
  float: left; 
  display: block; 
  color: #2b3e47; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; 
}

/* Right-aligned link */
#right {
  float: right;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #e1a8bb; 
  color: #2b3e47; 
}

.navbar a.active{
    background-color: #b1a8bd;
    color: #2b3e47
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f0edfa; 
  padding: 20px; 
  color: #20404d;
}

/* Main column */
.main {
  flex: 70%; 
  background-color: #f8f7ff; 
  padding: 20px; 
  color: #20404d;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.footer {
  padding: 20px; 
  text-align: center; 
  background: #e0dfed; 
  color: #20404d;
}

img{
    max-width: 100%;
    max-height: 100%;
}